<div class="container text-center">
  <div class="row mt-4">
    <div class="col ">
      <div class="card" style="width: 14rem;">
        <img [src]=" card1.image" class="card-img-top" alt="{{ card1.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card1.title }}</h5>
          <p class="card-text">{{ card1.text }}</p>
          <!-- <a [href]="card1.link" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card" style="width: 14rem;">
        <img [src]=" card2.image" class="card-img-top" alt="{{ card2.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card2.title }}</h5>
          <p class="card-text">{{ card2.text }}</p>
          <!-- <a [href]="card2.link" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card " style="width: 14rem;">
          <img [src]=card3.image class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card3.title }}</h5>
            <p class="card-text">{{ card3.text }}</p>
            <!-- <a [href]="card3.link" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img [src]="card4.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card4.title }}</h5>
            <p class="card-text">{{ card4.text }}</p>
            <!-- <a [href]="card2.link" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
  </div>
</div>

  <div class="container text-center">
    <div class="row mt-4">
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img [src]="card5.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card5.title }}</h5>
            <p class="card-text">{{ card5.text }}</p>
            <!-- <a [href]="card1.link" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      

        <div class="col">
          <div class="card" style="width: 14rem;">
            <img [src]="card6.image" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title">{{ card6.title }}</h5>
              <p class="card-text">{{ card6.text }}</p>
              <!-- <a [href]="card1.link" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      <div class="col"> 
        <div class="card" style="width: 14rem;">
          <img [src]="card7.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card7.title }}</h5>
            <p class="card-text">{{ card7.text }}</p>
            <!-- <a [href]="card1.link" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img [src]="card8.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card8.title }}</h5>
            <p class="card-text">{{ card8.text }}</p>
            <!-- <a [href]="card1.link" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row mt-4 d-flex ">
      <div class="col-md-3 col-sm-2">
        <div class="card" style="width: 14rem;">
          <img [src]="card9.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card9.title }}</h5>
            <p class="card-text">{{ card9.text }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
          <img [src]="card10.image" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">{{ card10.title }}</h5>
            <p class="card-text">{{ card10.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  